.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #353535b7;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal_window {
  background: #c4c4c4;
  box-shadow: 5px 5px 20px #474747;
  padding: 25px;
  border-radius: 5px;
  max-width: 600px;
  font-size: 20px;
}

.modal_window input{
  background: none;
  border-radius: 5px;
  font-size: 20px;
  border-bottom: 2px solid #353535;
  width: 80px;
}

.modal_window p{
  margin: 10px 0;
}